--extra-index-url https://pytorch-extension.intel.com/release-whl/stable/xpu/us

#ipex-llm[cpp]
#torch==2.5.1
#torchvision==0.20.1
#torchaudio==2.5.1
#intel-extension-for-pytorch==2.5.10+xpu
#oneccl_bind_pt==2.5.0+xpu

#mkl-dpcpp
transformers
intel-extension-for-transformers
#tensorflow==2.15.0
#tensorflow-intel
#intel-extension-for-tensorflow[xpu]
PyQt5
PyQtWebEngine
